* {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 50px;
}
p + h1 {
  font-family: "Awesome", Arial, Helvetica, sans-serif;
 }
.images {
  width: 50;
  height: 50;
}
.conteneur {
  display: flex;
  }
